.form{
    position: absolute;
    border-style: solid;
    padding: 10px 0px;
    font-size: 20px;
    border-radius: 20px;
    height: 400px;
    width: 650px;
    border-left-width: 20px;
    position: absolute;
    top: 100px;
    left: 300px;
}
.button{
    position: relative;
    padding: 5px 20px;
    font-size: 18px;
    top: 30px;
    left: 120px;
    border-radius: 1px;
    border-color: blue;
}
.reset{
    position: relative;
    padding: 5px 20px;
    font-size: 18px;
    top: 30px;
    left: 180px;
    border-radius: 1px;
    border-color: green;
}
.clear{
    position: relative;
    padding: 5px 20px;
    font-size: 18px;
    top: 30px;
    left: 230px;
    border-radius: 1px;
    border-color: red;
}